.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.deleteIcon, .editIcon {
  cursor: pointer;
}

.ui.form {
  display: flex;
  justify-content: space-between;
}

.ui.form .field {
  display: flex;
  flex: 1;
  margin: 0px 5px 0px 0px;
  height: 25px;
}

.ui.form .buttons {
  display: flex;
  height: 25px;
}

.ui.button {
  font-size: .7rem;
}

.taskForm {
  width: 500px;
  margin-bottom: 10px;
}