#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%;

  .menu {
    height: 100%;
  }

  .main {
    margin-top: 15px;
    margin-left: 15px;
  }
}